body {
    background-color: #F3E5F5; /* 연보라색 배경 */
    font-family: Arial, sans-serif;
}

#outputBox {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
    max-width: 90%;
    animation: fadeIn 0.5s;
}

#vulnerabilitySelect {
    border-bottom: 1px solid #D1C4E9;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#vulnerabilitySelect div {
    background-color: #9575CD;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    transition: background-color 0.3s;
}

#vulnerabilitySelect div:hover {
    background-color: #B39DDB;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.btn-slidebox {
    background-color: #ffffff;
    color: #673AB7;
    border: 1px solid #673AB7;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-slidebox:disabled {
    background-color: #ddd;
    color: #aaa;
    border-color: #aaa;
    cursor: not-allowed;
}

.btn-slidebox:not(:disabled):hover {
    background-color: #673AB7;
    color: #fff;
}

#okButton {
    background-color: #a286be;
    color: #fff;
    border-radius: 4px;
    padding: 5px 20px; /* 상하 패딩 값을 줄임 */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    float: right;
}

#okButton:hover {
    background-color: #9575CD;
}

.slidebox {
    background-color: #EDE7F6;
    border-radius: 4px;
    padding: 20px;
    margin: 20px 0;
    animation: slideIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
