#outputBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#statistics, #cveDetails {
    width: 45%;
    min-width: 300px;
}

#statistics {
    float: right;
}

#cveDetails {
    float: left;
}

@media screen and (max-width: 700px) {
    #statistics, #cveDetails {
        width: 45%;
        min-width: 300px;
        float: none;
        margin: auto;
    }
    #statistics {
        margin-top: 50px;
    }
}

body {
    font-family: Arial, sans-serif;
    background: #e5e5e7;
}

#vulnerabilitySelect {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    background: #6c5ce7;
    color: white;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#vulnerabilitySelect div {
    padding: 10px;
    background: #a29bfe;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#statistics h2, #cveDetails h2 {
    color: #6c5ce7;
}

#cveDetails table {
    width: 100%;
    border-collapse: collapse;
}

#cveDetails table, #cveDetails th, #cveDetails td {
    border: 1px solid #ddd;
    padding: 8px;
}

#cveDetails th {
    background-color: #6c5ce7;
    color: white;
}

.new-detail-section {
    background-color: #e5e5e7;
    color: #2d3436;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    float: right;
    width: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: transform .2s;
}

.new-detail-section:hover {
    transform: scale(1.02);
}

.new-detail-section h2 {
    color: #6c5ce7;
    font-size: 24px;
}

.new-detail-section .close-button {
    background-color: #fff;
    color: #2d3436;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    right: 10px; 
    padding: 5px 9px;
    border-radius: 50%;
    font-size: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: background-color .2s, color .2s;
}

.new-detail-section .close-button:hover {
    background-color: #2d3436;
    color: #fff;
}